body, .App {
  background-color: #000;
  color: #fff;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 1rem;
  border-bottom: 1px solid #333;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.grzyb-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.grzyb-card {
  background-color: #222;
  padding: 1rem;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  text-align: center;
}

.grzyb-image {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 1rem;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #111;
  border-top: 1px solid #333;
  margin-top: 2rem;
}
